pandas==2.2.2
numpy==1.26.4
pyarrow==21.0.0
flask==3.1.2
gunicorn==23.0.0
confluent-kafka==2.11.1
requests==2.32.5
implicit==0.7.2
pytest==8.4.2
pytest-cov==7.0.0
pytest-mock==3.15.1
jsonschema>=4.21
prometheus-client==0.20.0
prometheus-flask-exporter==0.23.0
